*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
#script{
    background-color:#fdecec;
    border-radius: 8px;
    border: none;

}
:placeholder-shown{
    padding-left: 30px;
    
}